{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "import",
    "@typescript-eslint"
  ],
  "rules": {
    "no-debugger": "off",
    "no-console": "error",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/comma-dangle": ["error", "only-multiline"],
    "max-lines-per-function": [ "error", 40 ],
    "max-lines": ["error", 350 ]
  },
  "extends": [
    "plugin:prettier/recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}
