<<<<<<< HEAD
@font-face {
  font-family: "PFBeauSansPro";
  src: url(../assets/fonts/PFBeauSansPro-Black.woff);
  font-weight: 900;
}
@font-face {
  font-family: "PFBeauSansPro";
  src: url(../assets/fonts/PFBeauSansPro-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "PFBeauSansPro";
  src: url(../assets/fonts/PFBeauSansPro-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "PFBeauSansPro";
  src: url(../assets/fonts/PFBeauSansPro-SemiBold.woff);
  font-weight: 600;
=======
@font-face {
  font-family: "PFBeauSansPro";
  src: url(../assets/fonts/PFBeauSansPro-Black.woff);
  font-weight: 900;
}
@font-face {
  font-family: "PFBeauSansPro";
  src: url(../assets/fonts/PFBeauSansPro-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "PFBeauSansPro";
  src: url(../assets/fonts/PFBeauSansPro-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "PFBeauSansPro";
  src: url(../assets/fonts/PFBeauSansPro-SemiBold.woff);
  font-weight: 600;
>>>>>>> 501d168 (refactor: update contents of the branch from develop)
}