@import "./pallete.scss";
@import "./fonts.scss";
@import "./reset.scss";

html {
  font-size: 16px;
  height: 100%;
  font-family: "PFBeauSansPro", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.02rem;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

button {
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}

.wrapper {
  margin-top: 129px;
}

.wave {
  position: absolute;
  width: 100%;

  & > img {
    position: absolute;
    width: 100%;
  }

  &__top {
    top: 0%;

    & > img {
      top: 0%;
    }
  }

  &__bottom {
    bottom: 0%;

    & > img {
      bottom: 0%;
    }
  }
}

.shadow {
  -webkit-box-shadow: 0px 5px 10px 2px $grey-dark;
  -moz-box-shadow: 0px 5px 10px 2px $grey-dark;
  box-shadow: 0px 5px 10px 2px $grey-dark;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: $grey-dark;
}

::-webkit-scrollbar-thumb {
  background: $blue-dark;
  border-radius: 0.25rem;
}
