$blue-darkest: #004752;
$blue-dark: #006372;
$blue-medium: #0495ac;
$blue-light: #02bfdf;
$grey-darkest: #bbbbbb;
$grey-dark: #dddddd;
$grey-light: #eeeeee;
$text-light: #ffffff;
$text-black: #000000;
$green: #009600;

$auth-background: #29292999;
$auth-wrapper: #ffffff;
$color-cross: #000000;
$color-active-button: #051230;
$color-wrong-form: #d34141;
$color-text-button: #ffffff;
$color-form-button: #0495ac;
$color-form-active-button: #006372;

$grey-text: #494853;
$soft-blue: #a1defa;
$soft-red: #f09f9f;
$soft-green: #88d3aa;
$dark-green: #0c6c0c;
$white-green: #e0f5e9;

$hover-button: #ffffff33;
$hover-button-right: #ffffff66;
$hover-button-wrong: #8b2222b3;
$animate-color: #ffffff80;
$background-gradient-game: linear-gradient(-60deg, #0495ac, #006372, #004752);
$hover-button-result: #00617033;
$hover-button-result: #00637233;
