$blue-darkest: #004752;
$blue-dark: #006372;
$blue-medium: #0495ac;
$blue-light: #02bfdf;
$grey-darkest: #bbbbbb;
$grey-dark: #dddddd;
$grey-light: #eeeeee;
$text-light: #ffffff;
$text-black: #000000;
$green: #009600;

$auth-background: rgba(41, 41, 41, 0.6);
$auth-wrapper: rgb(255, 255, 255);
$color-cross: rgb(0, 0, 0);
$color-active-button: rgb(5, 18, 48);
$color-wrong-form: rgb(211, 65, 65);
$color-text-button: rgb(255, 255, 255);
$color-form-button: rgb(4, 149, 172);
$color-form-active-button: rgb(0, 99, 114);

$grey-text: rgb(73, 72, 83);
$soft-blue: rgb(161, 222, 250);
$soft-red: rgb(240, 159, 159);
$soft-green: rgb(136, 211, 170);
$dark-green: rgb(12, 108, 12);
