<<<<<<< HEAD
$blue-dark: #006372;
$blue-medium: #0495ac;
$blue-light: #02bfdf;
$grey-dark: #dddddd;
$grey-light: #eeeeee;
$text-light: #ffffff;
$text-black: #000000;

$auth-background: rgba(41, 41, 41, 0.6);
$auth-wrapper: rgb(255, 255, 255);
$color-cross: rgb(0, 0, 0);
$color-active-button: rgb(5, 18, 48);
$color-wrong-form: rgb(211, 65, 65);
$color-text-button: rgb(255, 255, 255);
$color-form-button: rgb(4, 149, 172);
$color-form-active-button: rgb(0, 99, 114);
