.button {
    width: fit-content;
    padding: 0rem 1rem;
    height: 2 rem;
    background-color: rgb(56, 90, 124);
    color: #fff;
    text-align: center;
    line-height: 2rem;
    border-radius: 0.5rem;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.non-active-button {
    opacity: .2;
}

.non-active-button:hover {
    cursor: default;
    transform: none;
}