@import "../../styles/pallete.scss";

.ebook {
    padding: 1rem;
    background-color: $text-light;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;   
}

.controls {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    margin-top: 6rem;
}

.cards-view {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.learned-page {
   background-color: $white-green;
}

.dif-words-title {
    font-size: 2rem;
    color: $blue-darkest;
}

.button-game {
    width: fit-content;
    padding: 0rem 1rem;
    height: 2 rem;
    background-color: $blue-medium;
    color: $text-light;
    text-align: center;
    line-height: 2rem;
    border-radius: 0.5rem;
}

.button-game:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.non-active-button-game {
    opacity: .2;
}

.non-active-button-game:hover {
    cursor: default;
    transform: none;
}

.display-none {
    display: none;
}