@import '../../styles/pallete.scss';

.statistics {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
  }

  &__section {
    color: $blue-darkest;
    margin-top: 4rem;

    &_today {
      margin-bottom: 4rem;
    }
  }

  &__words-items {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
  }

  &__words-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;

    &_value {
      font-size: 5rem;
      font-weight: 900;
      text-align: center;
    }

    &_description {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }
  }

  &__games-items {
    display: flex;
    gap: 3rem;
    justify-content: center;
  }

  &__games-item  {
    background-color: $grey-light;
    border-radius: 0.75rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &_title {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__charts {
    background: $grey-light;
    border-radius: 0.5rem;
    padding: 1rem;

    &-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      width: 90%;
      align-self: center;
    }
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;

    &-container {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }

    &_title {
      font-size: 1.25rem;
      font-weight: 600;
    }

    &-checkbox {
      display: none;

      &:checked + .statistics__switch-slider {
        background-color: $blue-light;
      }

      &:focus + .statistics__switch-slider {
        box-shadow: 0 0 1px $blue-light;
      }

      &:checked + .statistics__switch-slider:before {
        -webkit-transform: translateX(34px);
        -ms-transform: translateX(34px);
        transform: translateX(34px);
      }
    }

    &-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $grey-dark;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;

      &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 3px;
        bottom: 3px;
        background-color: $text-light;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }
    }
  }
}
